.header{
  font-family: 'Libre Baskerville', serif;
  text-align: right;
  margin-right: 20px;
  font-size: 80px;
  letter-spacing: 10px;
}
.header2{
  text-align: right;
  font-family: 'Caladea';
  font-size: 30px;
  margin-right: 70px;
}