.Image{
  margin-right:10%;
  margin-left:10%;
  max-width: 80%;
  border-radius: 15px;
}
h2{
  font-family: 'Caladea';
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}
.Hover1{
  border-style: dashed;
  font-size: 30px;
  text-align: center;
  max-width: 80%;
  margin-left: 10%;
  border-color: #b564b1;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.Hover2{
  border-style: dashed;
  font-size: 30px;
  text-align: center;
  max-width: 80%;
  margin-left: 10%;
  border-color: #563dbf;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.Hover3{
  border-style: dashed;
  font-size: 30px;
  text-align: center;
  max-width: 80%;
  margin-left: 10%;
  border-color: #303473;
  margin-top: 10px;
  margin-bottom: 10px;
}